USE [master]
GO
/****** Object:  Database [Berat_TopalogluContext-e3865165-4aef-45c6-a5e7-f5977386f622]    Script Date: 22.04.2025 14:11:20 ******/
CREATE DATABASE [Berat_TopalogluContext-e3865165-4aef-45c6-a5e7-f5977386f622]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Berat_TopalogluContext-e3865165-4aef-45c6-a5e7-f5977386f622', FILENAME = N'C:\Users\Prog5\Berat_TopalogluContext-e3865165-4aef-45c6-a5e7-f5977386f622.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Berat_TopalogluContext-e3865165-4aef-45c6-a5e7-f5977386f622_log', FILENAME = N'C:\Users\Prog5\Berat_TopalogluContext-e3865165-4aef-45c6-a5e7-f5977386f622_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Berat_TopalogluContext-e3865165-4aef-45c6-a5e7-f5977386f622].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Berat_TopalogluContext-e3865165-4aef-45c6-a5e7-f5977386f622]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22.04.2025 14:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[My_Site]    Script Date: 22.04.2025 14:11:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[My_Site](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[E_Mail] [nvarchar](max) NULL,
 CONSTRAINT [PK_My_Site] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250422071308_v1', N'9.0.0')
USE [master]
GO
