@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row mt-3">

        <div class="col-md-7">
            <div class="">
                <div class="fs-6" style="color:orange;">
                    LIFESTYLE
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ultmate Summet Hat Guide</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="text-center">
                <p class="fw-bolder">FOLLOW ME</p>
                <hr class="text-black mt-1 mb-2 m-auto" style="height:10px; width:5%;" />
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-lg-2 col-md-12 bg-body-secondary m-auto text-center">
                        <i class="bi bi-facebook"></i>
                    </div>

                    <div class="col-lg-2 col-md-6 bg-body-secondary m-auto text-center">
                        <i class="bi bi-twitter"></i>
                    </div>

                    <div class="col-lg-2 col-md-6 bg-body-secondary m-auto text-center">
                        <i class="bi bi-instagram"></i>
                    </div>

                    <div class="col-lg-2 col-md-6 bg-body-secondary m-auto text-center">
                        <i class="bi bi-youtube"></i>
                    </div>

                    <div class="col-lg-2 col-md-6 bg-body-secondary m-auto text-center">
                        <i class="bi bi-linkedin"></i>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="container mt-5">
    <div class="row ">

        <div class="col-lg-4 col-md-12">
            <div class="card">
                <img src="~/img/slider1.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <div class="card text-center" style="margin-top:50%;">
                        <div class="fs-6" style="color:orange;">
                            LIFESTYLE
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Tips For Talking A Long-Tern Trip</h5>

                            <p class="text-center" style="color:dimgrey;">Mayıs 4,2025</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img src="~/img/slider2.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <div class="card text-center" style="margin-top:50%;">
                        <div class="fs-6" style="color:orange;">
                            TRAVEL
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Trip To California</h5>

                            <p class="text-center" style="color:dimgrey;">Mayıs 4,2025</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img src="~/img/slider3.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <div class="card text-center" style="margin-top:50%;">
                        <div class="fs-6" style="color:orange;">
                            WEEKENDS
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Our Favorite Weekend Getaways</h5>

                            <p class="text-center" style="color:dimgrey;">Mayıs 4,2025</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container mt-4">
    <div class="row ">

        <div class="col-lg-3 col-md-6">
            <div class="card  ">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/img/slider3.jpg" class="img-fluid" />
                </div>

                <div class="card-body">
                    <div class="fs-6" style="color:orange;">
                        WEEKENDS
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Our Favorite Weekend Getaways</h5>

                        <p class="" style="color:dimgrey;">Mayıs 4,2025</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card  ">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/img/slider3.jpg" class="img-fluid" />
                </div>

                <div class="card-body">
                    <div class="fs-6" style="color:orange;">
                        WEEKENDS
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Our Favorite Weekend Getaways</h5>

                        <p class="" style="color:dimgrey;">Mayıs 4,2025</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card  ">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/img/slider3.jpg" class="img-fluid" />
                </div>

                <div class="card-body">
                    <div class="fs-6" style="color:orange;">
                        WEEKENDS
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Our Favorite Weekend Getaways</h5>

                        <p class="" style="color:dimgrey;">Mayıs 4,2025</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card  ">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/img/slider3.jpg" class="img-fluid" />
                </div>

                <div class="card-body">
                    <div class="fs-6" style="color:orange;">
                        WEEKENDS
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Our Favorite Weekend Getaways</h5>

                        <p class="" style="color:dimgrey;">Mayıs 4,2025</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bg-body-secondary text-center" style="margin-top:150px;">
    <h5 class="card-title pt-3">Subcribe Newsletter</h5>
    <p class="card-text pb-4">With supporting text below as a natural lead-in to additional content.</p>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-12">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form5Example24" class="form-control" placeholder="EMAIL ADRESS"/>
            </div>
        </div>
        <div class="col-auto">
            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-info mb-4">
                Subscribe
            </button>
        </div>
    </div>
</div>