USE [master]
GO
/****** Object:  Database [QuizContext-73365657-b4fa-44f5-a3cb-aa03cdf1b0ba]    Script Date: 6.05.2025 16:27:15 ******/
CREATE DATABASE [QuizContext-73365657-b4fa-44f5-a3cb-aa03cdf1b0ba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizContext-73365657-b4fa-44f5-a3cb-aa03cdf1b0ba', FILENAME = N'C:\Users\Prog5\QuizContext-73365657-b4fa-44f5-a3cb-aa03cdf1b0ba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuizContext-73365657-b4fa-44f5-a3cb-aa03cdf1b0ba_log', FILENAME = N'C:\Users\Prog5\QuizContext-73365657-b4fa-44f5-a3cb-aa03cdf1b0ba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizContext-73365657-b4fa-44f5-a3cb-aa03cdf1b0ba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizContext-73365657-b4fa-44f5-a3cb-aa03cdf1b0ba]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6.05.2025 16:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uye]    Script Date: 6.05.2025 16:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uye](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NULL,
	[Soyad] [nvarchar](max) NULL,
	[Kayit_Tarihi] [datetime2](7) NOT NULL,
	[Yas] [int] NOT NULL,
 CONSTRAINT [PK_Uye] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250506100731_v1', N'9.0.0')
USE [master]
GO
