USE [master]
GO
/****** Object:  Database [DbOdaTemizlikVEKontrolTakipSistemi]    Script Date: 9.07.2025 16:58:27 ******/
CREATE DATABASE [DbOdaTemizlikVEKontrolTakipSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbOdaTemizlikVEKontrolTakipSistemi', FILENAME = N'C:\Users\musak\DbOdaTemizlikVEKontrolTakipSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbOdaTemizlikVEKontrolTakipSistemi_log', FILENAME = N'C:\Users\musak\DbOdaTemizlikVEKontrolTakipSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbOdaTemizlikVEKontrolTakipSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbOdaTemizlikVEKontrolTakipSistemi]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9.07.2025 16:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oda_Temizlik_ve_Kontrol_Takip_Sistemi]    Script Date: 9.07.2025 16:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oda_Temizlik_ve_Kontrol_Takip_Sistemi](
	[Oda_Numarasi] [nvarchar](128) NOT NULL,
	[Günler] [datetime] NOT NULL,
	[Saatler] [real] NOT NULL,
	[Klozet_Temizligi] [nvarchar](max) NULL,
	[Lavabo_Temizligi] [nvarchar](max) NULL,
	[Musluk_Temizligi] [nvarchar](max) NULL,
	[Ayna_Temizligi] [nvarchar](max) NULL,
	[Kapı_Kolu_Temizligi] [nvarchar](max) NULL,
	[Zemin_Temizligi] [nvarchar](max) NULL,
	[Cop_Torbasinin_Degisimi] [nvarchar](max) NULL,
	[Oda_Ici_Temizligi] [nvarchar](max) NULL,
	[Yatak_Düzeni] [nvarchar](max) NULL,
	[Oda_Tefrisati_Duzeni] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
