USE [master]
GO
/****** Object:  Database [DbKullanici_Kayit]    Script Date: 12.09.2025 11:41:34 ******/
CREATE DATABASE [DbKullanici_Kayit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbKullanici_Kayit', FILENAME = N'C:\Users\musak\DbKullanici_Kayit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbKullanici_Kayit_log', FILENAME = N'C:\Users\musak\DbKullanici_Kayit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbKullanici_Kayit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbKullanici_Kayit]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12.09.2025 11:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hesap_kayit]    Script Date: 12.09.2025 11:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hesap_kayit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kullanici_Adi] [nvarchar](max) NULL,
	[Sifre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.hesap_kayit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanici_kayit]    Script Date: 12.09.2025 11:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanici_kayit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TC_Kimlik_Numarsı] [real] NOT NULL,
	[Isim] [nvarchar](max) NULL,
	[Soyisim] [nvarchar](max) NULL,
	[Dogum_Yılı] [int] NOT NULL,
	[Oturdugu_Sehir] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.kullanici_kayit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[hesap_kayit] ON 

INSERT [dbo].[hesap_kayit] ([ID], [Kullanici_Adi], [Sifre]) VALUES (2, N'Mehmet', N'Memo123')
SET IDENTITY_INSERT [dbo].[hesap_kayit] OFF
GO
USE [master]
GO
