
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mb-3 m-auto mt-4" style="max-width:100%;">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="~/img/04.jpg" class="w-100" alt="...">
        </div>
        <div class="col-md-6">
            <div class="m-auto ms-4 mt-5">
                <h2 class="fw-bold">Free Masterclass</h2>
                <h5 class="card-title">Creative Photography</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
                <button type="button" class="btn btn-outline-dark mt-2 mb-3">View More</button>
            </div>
        </div>
    </div>
</div>
<table class="table mt-5 mb-5">
    <thead>
        <tr class="bg-black">
            <th scope="col" class="text-light">#</th>
            <th><i class="bi bi-arrow-down-up text-secondary"></i></th>
            <th scope="col" class="text-light">First Name</th>
            <th><i class="bi bi-arrow-down-up text-secondary"></i></th>
            <th scope="col" class="text-light">Last Name</th>
            <th><i class="bi bi-arrow-down-up text-secondary"></i></th>
            <th scope="col" class="text-light">User Name</th>
            <th><i class="bi bi-arrow-down-up text-secondary"></i></th>
            <th scope="col" class="text-light">Date</th>
            <th><i class="bi bi-arrow-down-up text-secondary"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td>Mark</td>
            <td></td>
            <td>Otto</td>
            <td></td>
            <td>#mdo</td>
            <td></td>
            <td>18.03.2025</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
            <td>Jacob</td>
            <td></td>
            <td>Thornton</td>
            <td></td>
            <td>#fat</td>
            <td></td>
            <td>18.03.2025</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td></td>
            <td>Jacob</td>
            <td></td>
            <td>Thornton</td>
            <td></td>
            <td>#fat</td>
            <td></td>
            <td>18.03.2025</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td></td>
            <td>Jacob</td>
            <td></td>
            <td>Thornton</td>
            <td></td>
            <td>#fat</td>
            <td></td>
            <td>18.03.2025</td>
        </tr>
    </tbody>
</table>