@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="" style="width: 22rem;">
                <img src="~/img/blog-post1.jpg" class="card-img-top" alt="...">
                <div class="w-75 m-auto">
                    <h5 class="card-title pt-2 pb-2">There'going to be a musical about meghan</h5>
                    <div class="row">
                        <div class="col">
                            <i class="bi bi-calendar4"></i> 22.04.2025
                        </div>
                        <div class="col" style="margin-left:5%;">
                            <i class="bi bi-chat-left pe-2"></i> 05
                        </div>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="row">
                        <div class="col">
                            <p>READ MORE --></p>
                        </div>
                        <div class="col">
                            <i class="bi bi-folder"></i> Travel
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="" style="width: 22rem;">
                <img src="~/img/blog-post2.jpg" class="card-img-top" alt="...">
                <div class="w-75 m-auto">
                    <h5 class="card-title pt-2 pb-2">There'going to be a musical about meghan</h5>
                    <div class="row">
                        <div class="col">
                            <i class="bi bi-calendar4"></i> 22.04.2025
                        </div>
                        <div class="col" style="margin-left:5%;">
                            <i class="bi bi-chat-left pe-2"></i> 05
                        </div>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="row">
                        <div class="col">
                            <p>READ MORE --></p>
                        </div>
                        <div class="col">
                            <i class="bi bi-folder"></i> Travel
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="" style="width: 20rem;">
                <img src="~/img/pp4.jpg" class="card-img-top" alt="...">
                <div class="m-auto">
                    <h5 class="card-title pt-2 pb-2">There'going to be a musical about meghan</h5>
                    Berat Topaloğlu | Dec 15
                </div>
            </div>
            <div style="width:15rem;">
                <div class="row">
                    <div class="col">
                        <h5>Instagram </h5>
                    </div>
                    <div class="col">
                        <hr style="width:100%; height:15px; color:black;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <img src="~/img/i1.jpg" width="85" height="85" />
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <img src="~/img/i2.jpg" width="85" height="85" />
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <img src="~/img/i3.jpg" width="85" height="85" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <img src="~/img/i4.jpg" width="85" height="85" />
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <img src="~/img/i5.jpg" width="85" height="85" />
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <img src="~/img/i6.jpg" width="85" height="85" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <i class="bi bi-house-door fs-4"></i>
                        </div>
                        <div class="col-md-8">
                            <h5 class="fw-bolder">Binghamton New York</h5>
                        </div>
                    </div>

                    <p class="text-secondary">Tuzla/İstanbul</p>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <i class="bi bi-telephone fs-4"></i>
                        </div>
                        <div class="col-md-8">
                            <h5 class="fw-bolder">+123 456 789</h5>
                        </div>
                    </div>

                    <p class="text-secondary">Tuzla/İstanbul</p>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <i class="bi bi-envelope fs-4"></i>
                        </div>
                        <div class="col-md-8">
                            <h5 class="fw-bolder">support@gmail.com</h5>
                        </div>
                    </div>

                    <p class="text-secondary">Tuzla/İstanbul</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control" />
                    <label class="form-label" for="form4Example1">Name</label>
                </div>

                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form4Example2" class="form-control" />
                    <label class="form-label" for="form4Example2">Email address</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form4Example2" class="form-control" />
                    <label class="form-label" for="form4Example2">Subject</label>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div data-mdb-input-init class="form-outline mb-4">
                    <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                    <label class="form-label" for="form6Example7">Additional information</label>
                </div>
            </div>
        </div>
        <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mt-3" style="margin-left:85%;">SEND MESSAGE</button>
    </div>
</div>