
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-2 mb-3">
    <div class="card-body">
        <h2 class="card-title" style="font-family:Cambria; color:mediumpurple; ">Rahatlamak için</h2>
        <p class="card-text">En iyisi bir dost edin...</p>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-lg-2 col-md-4 text-center mx-2 ">
        <img src="~/img/flower.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Aileye Güven</h5>
            <p class="card-text">Anaya Babaya of bile deme...</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 text-center mx-2">
        <img src="~/img/flower.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Duanı Et.</h5>
            <p class="card-text">DUA EN BÜYÜK SİLAH...</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 text-center">
        <img src="~/img/mind-soul.png" width="95" height="115" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Çok Çalış.</h5>
            <p class="card-text">Olma tembel...</p>
        </div>
    </div>
</div>
<div class="bg-body-secondary container-fluid mt-3">
    <div class="container">
        <div class="row pt-4">

            <div class="col-md-6 col-lg-12">

            </div>

            <div class="col-md-6 col-lg-12">
                <img src="~/img/the-best-class-yoga.jpg" class="float-end" width="550" height="150" />
            </div>

        </div>
    </div>
    <div class="text-center mt-2 mb-2">
        <div class="card-body">
            <h2 class="card-title" style="font-family:Cambria; color:mediumpurple; ">Our Yoga Classes</h2>
            <p class="card-text">En iyisi rahatlamak için yogayı tercih edin...</p>
        </div>
    </div>
    <div class="container">
        <div class="row pb-5 mt-4">

            <div class="col-lg-3 col-md-6">
                <div class=" text-center" style="width: 15rem;">
                    <img src="~/img/kundalini-yoga.jpg" width="100" height="115" class="rounded-circle m-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kundalini Yoga</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="text-center" style="width: 15rem;">
                    <img src="~/img/basic-yoga.jpg" width="100" height="115" class="rounded-circle m-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Basic Yoga</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="text-center" style="width: 15rem;">
                    <img src="~/img/iyengar-yoga.jpg" width="100" height="115" class="rounded-circle m-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Iyengar Yoga</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="text-center" style="width: 15rem;">
                    <img src="~/img/advanced-yoga-poses.jpg" width="100" height="115" class="rounded-circle m-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Advenced Yoga</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid mt-1">
    <div class="text-center mt-2 mb-2">
        <div class="card-body">
            <h2 class="card-title" style="font-family:Cambria; color:mediumpurple; ">Form & Time Schedule</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6 border border-black">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form3Example1" class="form-control" placeholder="First Name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form3Example2" class="form-control" placeholder="Last Name" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <!-- Phone input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="number" id="form3Example3" class="form-control" placeholder="Phone Number" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" id="form3Example3" class="form-control" placeholder="E-Mail" />
                            </div>
                        </div>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <input type="password" id="form3Example4" class="form-control" placeholder="Password" />
                    </div>

                    <!-- Submit button -->
                    <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block">Gönder</button>
            </div>

            <div class="col-md-6">
                <div class="text-center mt-2 mb-1">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family:Cambria; color:mediumpurple; ">Weekdays</h2>
                    </div>
                </div>
                <div class="text-center mb-2">
                    <div class="card-body">
                        <h5 class="card-title" style="font-family:Cambria ">06.00 AM - 07.00 AM</h5>
                        <p class="card-text">Kundalini yoga saatleri...</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="card-body">
                        <h5 class="card-title" style="font-family:Cambria ">07.00 AM - 08.30 AM</h5>
                        <p class="card-text">Surya Namaskar & Advenced Meditiacion</p>
                    </div>
                </div>

                <div class="text-center mt-4 mb-2">
                    <div class="card-body">
                        <h2 class="card-title" style="font-family:Cambria; color:mediumpurple; ">Weekdays</h2>
                    </div>
                </div>
                <div class="text-center mb-2">
                    <div class="card-body">
                        <h5 class="card-title" style="font-family:Cambria ">06.00 AM - 07.00 AM</h5>
                        <p class="card-text">Kundalini yoga saatleri...</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="card-body">
                        <h5 class="card-title" style="font-family:Cambria ">07.00 AM - 08.30 AM</h5>
                        <p class="card-text">Surya Namaskar & Advenced Meditiacion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>