@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:#FF9D02;" class="text-center mt-5 pt-3">Our Gallery</h1>
<div class="w-75 mb-5 pb-5 text-center m-auto">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</div>
<div class="container-fluid">
    <div class="row m-auto">
        <div class="col-md-4">
            <img src="~/images/img-1.png"
                 class="img-fluid w-100 rounded-2"
                 alt="Townhouses and Skyscrapers" style="height:400px;" />
        </div>

        <div class="col-md-4">
            <img src="~/images/img-2.png"
                 class="img-fluid w-100 rounded-2"
                 alt="Townhouses and Skyscrapers" style="height:400px;" />
        </div>

        <div class="col-md-4">
            <img src="~/images/img-3.png"
                 class="img-fluid w-100 rounded-2"
                 alt="Townhouses and Skyscrapers" style="height:400px;" />
        </div>
    </div>
    <div class="row mt-5 m-auto">
        <div class="col-md-4">
            <img src="~/images/img-4.png"
                 class="img-fluid w-100 rounded-2"
                 alt="Townhouses and Skyscrapers" style="height:400px;" />
        </div>

        <div class="col-md-4">
            <img src="~/images/img-5.png"
                 class="img-fluid w-100 rounded-2"
                 alt="Townhouses and Skyscrapers" style="height:400px;" />
        </div>

        <div class="col-md-4">
            <img src="~/images/img-6.png"
                 class="img-fluid w-100 rounded-2"
                 alt="Townhouses and Skyscrapers" style="height:400px;" />
        </div>
    </div>
    <div class="row mt-5 mb-4 m-auto">
        <div class="col-md-4">
            <img src="~/images/img-7.png"
                 class="img-fluid w-100 rounded-2"
                 alt="Townhouses and Skyscrapers" style="height:400px;" />
        </div>

        <div class="col-md-4">
            <img src="~/images/img-8.png"
                 class="img-fluid w-100 rounded-2"
                 alt="Townhouses and Skyscrapers" style="height:400px;" />
        </div>

        <div class="col-md-4">
            <img src="~/images/img-9.png"
                 class="img-fluid w-100 rounded-2"
                 alt="Townhouses and Skyscrapers" style="height:400px;" />
        </div>
    </div>
    <div style="margin-left:45%;"><a href="#" class="btn btn-dark text-center">See more</a></div>
    <div class="mt-4">
        <div class="card text-light">
            <img src="~/images/services-bg.png" class="card-img" style="height:400px">
            <div class="card-img-overlay">
                <h5 class="card-title text-center mt-5">Services</h5>
                <p class="card-text text-center mb-3">This is a wider card with supporting text below</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-center text-white" style="background-color:sandybrown;">
                            <div class="card-body">
                                <i class="bi bi-cup-fill"></i>
                                <h5 class="card-title">Orginal Caffee</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center text-white" style="background-color:sandybrown;">
                            <div class="card-body">
                                <i class="bi bi-cup-fill"></i>
                                <h5 class="card-title">Orginal Caffee</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center text-white" style="background-color:sandybrown;">
                            <div class="card-body">
                                <i class="bi bi-cup-fill"></i>
                                <h5 class="card-title">Orginal Caffee</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>